body {
  background-color: rgb(66, 66, 66);
  font-family: Helvetica, Arial, sans-serif;
}


:root {
  --cards: 5;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}


.media-container {
  width: 100%;
  margin: 0 auto;
}



#cards {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards)*var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

card1 {
  --index: 1;
}

card2 {
  --index: 2;
}

card3 {
  --index: 3;
}

card4 {
  --index: 4;
}

card5 {
  --index: 5;
}

.card {
  position: sticky;
  top: 0;
  padding-top: cal(var(--index) * var(--cardTopPadding));
}


#card1 .card-body {
  background-color: blue;
}

#card2 .card-body {
  background-color: rgb(105, 105, 121);
}

#card3 .card-body {
  background-color: rgb(37, 37, 66);
}

#card4 .card-body {
  background-color: rgb(160, 160, 163);
}

#card5 .card-body {
  background-color: rgb(128, 94, 120);
}


.card-body {
  box-sizing: border-box;
  padding: 0px;
  height: var(--cardHeight);
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2.5em;
}

/* Slideshow starts here  */

.slide-container {
  width: 420px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  margin-bottom: 0px;
  border: 2px solid #333;
  overflow: scroll;
  position: relative;
}


.element {
  width: 400px;
  height: 400px;
  scroll-margin: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element:nth-child(1) {
  background: #1d1e21;
}

.element:nth-child(2) {
  background: #ee6620;
}

.element:nth-child(3) {
  background: #777ba0;
}

.element:nth-child(4) {
  background: #da1e62;
}

.x-mandatory {
  scroll-snap-type: x mandatory;
}

.both-mandatory {
  scroll-snap-type: both mandatory;
}

.x-proximity {
  scroll-snap-type: x proximity;
}

.both-proximity {
  scroll-snap-type: both proximity;
}

.x-scroll .wrapper {
  width: 1640px;
}

.x-scroll .element {
  float: left;
  margin-right: 10px;
}
